{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}
	<style>
		.im {
			height: 100%;
			width: 100%;
			object-fit: contain;
			float: left;
		}

		.padding-0 {
			padding-right: 0;
			padding-left: 0;
		}
	</style>


	<div class="container" style="margin-top:3%; height:auto">
		<div class="row mt-2" style="height:300px;">
			<div class="col col-md-7 col-12" style="height:300px">
				<img src="{{product.image}}" alt="cos" class="card-img-top im">
			</div>
			<div class="card col col-md-5 col-12">
			
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-7">
								Opis wydarzenia
							</div>
							<div class="col-5">
								<b>{{product.description}}</b>
							</div>
						</div>
					</li>
				</ul>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-7">
								Data
							</div>
							<div class="col-5">
								<b>{{product.data}}</b>
							</div>
						</div>
					</li>
				</ul>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-7">
								Województwo
							</div>
							<div class="col-5">
								<b>{{product.region}}</b>
							</div>
						</div>
					</li>
				</ul>
					<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-7">
								Długość geograficzna
							</div>
							<div class="col-5">
								<b>{{product.dlugosc}}</b>
							</div>
						</div>
					</li>
				</ul>
					<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-7">
								Szerokość geograficzna
							</div>
							<div class="col-5">
								<b>{{product.szerokosc}}</b>
							</div>
						</div>
					</li>
				</ul>
				
				

				<!--<button class="btn btn-danger mt-1" style="width:100%">Usuń zdjęcie</button>-->
			</div>
		</div>
		
		



		
		
	</div>


</div>{% endblock %}
